{block notifikasi}
    <div id='notifikasi' class="display-none w-0 h-0 overflow-hidden">
        <div class="p-4 text-center font-semibold">Notifikasi</div>
        <hr/>
        <div class="text-center p-4" id="kontennotifikasi">Loading..</div>
    </div>
{/block}